/*
  HEADER
*/

.header .logo {
  float: left;
}

.header .container {
  padding: 20px 15px;
}

.header .logo a {
  display: inline-block;
  text-align: center;
  line-height: 36px;
  height: 40px;
  width: 40px;
  border: 2px solid #fb839e;
  font-size: 2.4rem;
  color: #fb839e;
  border-radius: 50%;
  text-transform: uppercase; 
}

.header nav {
  position: relative;
  text-align: center;
  right: 20px;
}

.header:after {
  content: '';
  display: block;
  clear: both;
}

.header nav li {
  display: inline-block;
  padding: 10px 6px;
}

.header nav li a {
  color: #d0d0d0;
  font-weight: 400;
  text-decoration: underline;
}

/* ------ Home section ------ */

.home-section {
  position: relative;
}

.home-section:after {
  content: '';
  clear: both;
  display: block;
}

.container:after {
  content: '';
  clear: both;
  display: block;
}

.home-section .full-screen:after {
  content: '';
  clear: both;
  display: block;
}

.home-section .full-screen {
  padding: 50px 0;
}

.home-section .home-text {
  max-width: 450px;
  float: left;
  width: 45%;
  margin-top: 200px;
}

.home-section .home-text .btn-1 {
  margin-top: 20px;  
}

.home-section .home-text .text-box {
  width: 85%;
  margin: auto;
}

.home-section .home-img {
  max-width: 450px;
  float: right;
  margin-top: 50px;
}

.home-section .home-text p {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 0;
}

.home-section .home-text h2 {
  font-size: 5.5rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.home-section .home-text h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}

.home-section .home-text .aboutme-btn {
  margin-top: 30px;
}

.home-section .home-img .img-box {
  max-width: 550px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 0 15px;
}

.home-section .home-img img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

/* about section */

.about-section {
  padding: 80px 0 80px;
}

.about-section .row {
  margin: 0 15px;
}

.about-section:after {
  content: '';
  clear: both;
  display: block;
}

.about-section .about-img {
  float: left;
  width: 30%;
}

.about-section .about-img .img-box {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.about-section .about-img img {
  width: 97%;
}

.about-section .about-info {
  float: right;
  width: 60%;
  padding: 0 15px;
}

.about-section .about-info p { 
  font-size: 2rem;
  line-height: 28px;
  margin-bottom: 15px;
  color: #d0d0d0;
}

.about-section .about-info .btn-1 {
  margin: 30px 20px 0 0;
}

/* skills section */

.skills-section .skills .skill-item {
  float: left;
  width: 30%;
  margin: 10px 17px;
  padding: 20px 0;
  min-height: 265px;
}

.skills-section .skills .skill-item p {
  color: #d0d0d0
}

.skills-section .skills.tab-content:after {
  content: '';
  clear: both;
  display: block;
}

.skills-section .skills .skill-item h3 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.skills-section .skills .skill-item p {
  margin: 20px 15px;
}

.skills-section .skills .skill-item .skill-stars {
  text-align: center;
}

.skills-section .skills .skill-item i {
  color: #fdd835;
  margin-bottom: 10px;
}

.skills-section .skills .skill-item i.fa-html5 {
  color: #E96228;
  text-align: center;
  display: block;
  font-size: 5.4rem;
}

.skills-section .skills .skill-item i.fa-css3-alt {
  color: #2BA8DE;
  text-align: center;
  display: block;
  font-size: 5.4rem;
}

/* Portfolio section */
.portfolio-section {
  padding: 80px 0 80px;
}

.portfolio-section .portfolio-items:after {
  content: '';
  clear: both;
  display: block;
}

.portfolio-section .portfolio-items a {
  text-decoration: none;
  color: #fff;
}

.portfolio-section .portfolio-item {
  float: left;
  max-width: 28%;
  padding: 15px;
  margin-right: 20px;
}

.portfolio-section .portfolio-item-inner {
  padding: 20px 15px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  min-height: 450px;
}

.portfolio-section .portfolio-item-inner:hover {
  opacity: 0.8;
}

.portfolio-section .portfolio-item-img img {
  border-radius: 5px;
  width: 100%;
}

.portfolio-section .portfolio-item-inner h4 {
  font-size: 2rem;
  margin: 10px 0 5px;
  color: #9c9c9c;
  text-transform: capitalize;
  font-weight: 700;
}

.portfolio-section .portfolio-item-title {
  font-size: 2.4rem;
  margin: 10px 0;
  text-transform: capitalize;
  font-weight: 700;
  color: #fb839e;
}
